body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  padding: 1rem;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;

}
.cover{
  width: 400px;
  margin: 30px 30px;
  padding: 20px 20px;
  justify-content: center;
  
}
.search{
  background-color: thistle;
  padding: 8px 8px 8px 8px;
  margin: 8px 8px 8px 8px;
  color: darkolivegreen;
  justify-content: center;
 

}
h2 {
  text-align: center;

}
.filter{
font-size: 16px;
color: darkslategrey;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.singleBook{
  text-align: center;
}
.allBooks{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
 justify-content: space-between



}
ul{
  list-style: none;
  justify-content: space-around;
}
li a{
  padding: 1rem;
  margin: 1rem;
  transition: all 1s;
  
}
.linkallb {
  color: plum;
 justify-content: center;
 display: flex;
 
  
}